@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-apex-bg text-apex-text min-h-full font-sans antialiased;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #111a2e #0a111f;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #0a111f;
  }

  *::-webkit-scrollbar-thumb {
    background: #111a2e;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #00e5ff40;
  }
}
